@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Jakarta';
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src:
    local('Jakarta'),
    url('/assets/fonts/jakarta.ttf') format('truetype'),
    url('/assets/fonts/jakarta.ttf') format('truetype');
}

#app {
  font-family: 'Jakarta', Arial, Helvetica, sans-serif;
}

.scroll-animation-hidden {
  opacity: 0;
  visibility: hidden;
}
